<script src="@Url.Content("~/js/UI/Dialogs/ImageProcessingCommandSettingsDialog.js")" type="text/javascript"></script>
<div class="modal" id="imageProcessingCommandSettingsDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Image processing command settings</h5>
            </div>
            <div class="modal-body">
                <div id="imageProcessingCommandSettingsPropertyGrid"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
