<script src="@Url.Content("~/js/UI/Dialogs/ImageProcessingCommandResultDialog.js")" type="text/javascript"></script>
<div class="modal" id="imageProcessingCommandResultDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Image processing command result</h5>
            </div>
            <div class="modal-body">
                <div id="imageProcessingCommandResultPropertyGrid"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>