<script src="@Url.Content("~/js/UI/Dialogs/PreviouslyUploadedFilesDialog.js")" type="text/javascript"></script>
<div class="modal" id="previouslyUploadedFilesDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Previously uploaded files</h5>
            </div>
            <div class="modal-body">
                <div id="previouslyUploadedFilesDialogFileList"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="previouslyUploadedFilesDialogOpenButton" onclick="javascript: PreviouslyUploadedFilesDialogJS.okButton_clicked(); return false;">Open</button>
                <button type="button" class="btn btn-default" id="previouslyUploadedFilesDialogCancelButton" onclick="javascript: PreviouslyUploadedFilesDialogJS.cancelButton_clicked(); return false;">Close</button>
            </div>
        </div>
    </div>
</div>
