
/* PROPERTY GRID */

.propertyTable {
    border-collapse: collapse;
    width: 100%;
}

    /* Style for odd table cell without colspan. */
    .propertyTable td:not([colspan]):nth-child(odd) {
        background-color: rgb(229,229,229);
    }

    .propertyTable td > input:not([type='button']) {
        width: 90px;
        height: 15px;
        box-sizing: content-box;
    }

    .propertyTable .spoiler {
        background-color: rgb(148,145,145) !important;
    }

        .propertyTable .spoiler.open {
            background-color: rgb(191,191,191) !important;
        }


#documentViewerContainer {
    width: 100%;
    height: calc(100% - 60px);
    position: relative;
    overflow: hidden;
}

.ui-dialog-title {
    white-space: normal !important;
}

.modalDialog {
    display: none;
}

@media(max-width:480px) {

    .modalDialog, .ui-colorpicker, .blockUI, .vsui-dialogContent {
        font-size: 11px;
        word-break: break-word;
    }

    .ui-dialog-title, .ui-dialog-buttonpane {
        font-size: 0.8em
    }
}

/* CUSTOM ELEMENTS */

.vsui-button.uploadedFilesList {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8IS0tIENvcHlyaWdodCAyMDE5IFZpbnRhU29mdCBMdGQuIEFsbCByaWdodHMgcmVzZXJ2ZWQuIC0tPg0KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIzMHB4IiBoZWlnaHQ9IjI2cHgiIHZlcnNpb249IjEuMSIgc3R5bGU9InNoYXBlLXJlbmRlcmluZzpnZW9tZXRyaWNQcmVjaXNpb247IHRleHQtcmVuZGVyaW5nOmdlb21ldHJpY1ByZWNpc2lvbjsgaW1hZ2UtcmVuZGVyaW5nOm9wdGltaXplUXVhbGl0eTsgZmlsbC1ydWxlOmV2ZW5vZGQ7IGNsaXAtcnVsZTpldmVub2RkIg0Kdmlld0JveD0iMCAwIDEuMDg4IDAuOTQ0Ig0KIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4NCiA8ZGVmcz4NCiAgPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCiAgIDwhW0NEQVRBWw0KICAgIC5zdHIwIHtzdHJva2U6IzY2NjY2NjtzdHJva2Utd2lkdGg6MC4wNDtzdHJva2UtbWl0ZXJsaW1pdDoyMi45MjU2fQ0KICAgIC5maWw0IHtmaWxsOm5vbmV9DQogICAgLmZpbDAge2ZpbGw6I0IyQjJCMn0NCiAgICAuZmlsMiB7ZmlsbDojRUNFQ0VDfQ0KICAgIC5maWwzIHtmaWxsOmdvbGR9DQogICAgLmZpbDEge2ZpbGw6d2hpdGV9DQogICBdXT4NCiAgPC9zdHlsZT4NCiA8L2RlZnM+DQogPGc+DQogIDxwYXRoIGNsYXNzPSJmaWwwIHN0cjAiIGQ9Ik0wLjM0NiAwLjAybC0wLjI3NiAwYy0wLjAzMiwwIC0wLjA1LDAuMDI5IC0wLjA1LDAuMDY1bDAgMC43NjVjMCwwIDAuNTY5LDAuMDA0IDAuNjM2LC0wLjAwMiAwLjE5NywtMC4wMTUgMC4yMTksLTAuNzE0IDAuMDIyLC0wLjY5NCAtMC4wNDksMC4wMDUgLTAuMDk3LDAuMDAxIC0wLjE0NSwwLjAwMiAtMC4wMjUsMC4wMDEgLTAuMDUzLC0wLjAyIC0wLjA2NCwtMC4wNDcgLTAuMDA5LC0wLjAyMyAtMC4wMTQsLTAuMDM1IC0wLjAyMSwtMC4wNTMgLTAuMDA4LC0wLjAyNCAtMC4wMzksLTAuMDM2IC0wLjEwMiwtMC4wMzZ6Ii8+DQogIDxwYXRoIGNsYXNzPSJmaWwxIHN0cjAiIGQ9Ik0wLjE1NCAwLjEyOGwwLjcxOCAwYzAuMDEzLDAgMC4wMTUsMC4wMjEgMC4wMTUsMC4wMzZsMCAwLjM3MyAtMC4xMzIgMC4yNjEgLTAuNjAxIDBjLTAuMDEzLDAgLTAuMDI0LC0wLjAxMiAtMC4wMjQsLTAuMDI3bDAgLTAuNjE1YzAsLTAuMDE1IDAuMDExLC0wLjAyOCAwLjAyNCwtMC4wMjh6Ii8+DQogIDxwYXRoIGNsYXNzPSJmaWwyIHN0cjAiIGQ9Ik0xLjAzMyAwLjI3NGMwLjAyMSwwLjAwMiAwLjA0MiwwLjAyMiAwLjAzMywwLjA0MWwtMC4yNTEgMC40OTljLTAuMDExLDAuMDIzIC0wLjAyNSwwLjAzNyAtMC4wNTMsMC4wMzdsLTAuNjk2IDBjLTAuMDI5LDAgLTAuMDQsLTAuMDE1IC0wLjAzLC0wLjAzOCAwLjA2LC0wLjEzMiAwLjEwOSwtMC4yNTYgMC4xNzEsLTAuMzg3IDAuMDEzLC0wLjAyMiAwLjAxNywtMC4wNDEgMC4wNTgsLTAuMDQyIDAuMDk3LC0wLjAwMyAwLjIxOCwwLjAwMiAwLjMxNCwwIDAuMDIxLC0wLjAwMSAwLjA1OSwtMC4wMjMgMC4wNzYsLTAuMDQgMC4wMTUsLTAuMDE1IDAuMDIyLC0wLjAyMyAwLjAzNCwtMC4wMzQgMC4wMSwtMC4wMTEgMC4wMywtMC4wMzIgMC4wNiwtMC4wMzYgMC4wMjIsLTAuMDAyIDAuMjc5LDAgMC4yODQsMHoiLz4NCiAgPHJlY3QgY2xhc3M9ImZpbDMgc3RyMCIgeD0iMC41MjYiIHk9IjAuNDkiIHdpZHRoPSIwLjUwNiIgaGVpZ2h0PSIwLjQzNCIgcng9IjAuMDMzIiByeT0iMC4wMzYiLz4NCiAgPHBhdGggY2xhc3M9ImZpbDQgc3RyMCIgZD0iTTAuNjE2IDAuNTk5YzAuMDY3LDAgMC4wNjcsMCAwLjA2NywwIi8+DQogIDxsaW5lIGNsYXNzPSJmaWw0IHN0cjAiIHgxPSIwLjczIiB5MT0iMC41OTkiIHgyPSIwLjk0MiIgeTI9ICIwLjU5OSIgLz4NCiAgPHBhdGggY2xhc3M9ImZpbDQgc3RyMCIgZD0iTTAuNjE2IDAuNzA3YzAuMDY3LDAgMC4wNjcsMCAwLjA2NywwIi8+DQogIDxsaW5lIGNsYXNzPSJmaWw0IHN0cjAiIHgxPSIwLjczIiB5MT0iMC43MDciIHgyPSIwLjk0MiIgeTI9ICIwLjcwNyIgLz4NCiAgPHBhdGggY2xhc3M9ImZpbDQgc3RyMCIgZD0iTTAuNjE2IDAuODE1YzAuMDY3LDAgMC4wNjcsMCAwLjA2NywwIi8+DQogIDxsaW5lIGNsYXNzPSJmaWw0IHN0cjAiIHgxPSIwLjczIiB5MT0iMC44MTUiIHgyPSIwLjk0MiIgeTI9ICIwLjgxNSIgLz4NCiA8L2c+DQo8L3N2Zz4NCg==);
}
